html {
  font-family: 'Lato';
  margin: 100px;
  margin-top: 50px;
}

a {
	text-decoration: none;
	color: #4CAF50;
}

h1 {
	font-weight: 900;
	font-size: 5em;
	letter-spacing: .125em;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

li.list-item{
	font-weight: 300;
	letter-spacing: .0625em;
}

p

.orange {
	color: #FF9800;
}

.hide-paragraph {
	display: block;
}

.purple {
	color: #9C27B0;
}

.blue-background {
	background-color: #448AFF;
}

.orange-background {
	background-color: #FF9800
}

.right {
	text-align: right;
}

.hidden {
	display: none;
}