html {
    font-family: 'Lato';
    text-decoration: none;
}

.orange {
	color: #FF9800;
}

.hide-paragraph {
	display: block;
}

.purple {
	color: #9C27B0;
}

.blue-background {
	background-color: #448AFF;
}

.orange-background {
	background-color: #FF9800
}

.right {
	text-align: right;
}